.login{
  background-color: #D3D3D3;
}
  
  
  
  .login .menu .box{
      background-color: #D3D3D3;
      border-style: outset;
      max-width: 1140px;
      margin: auto;
      margin-top: 50px;
      width: 90%;
      align-items: center;
      text-align: center;
      padding: 25px 15px;
      margin-bottom: 100px;
  
  }
  .login .menu .box h2{
      color: white;
      margin-bottom: 40px;
     
  }
  
  .login .buttons .button-facebook{
      text-align: center;
      width: 80%;
      height: 70px;
      font-size: 12px;
      font-family: Georgia, 'Times New Roman', Times, serif;
      border-radius: 10px; 
      padding-right: 10px;
     
  }
  .login .buttons .button-google{
      text-align: center;
      width: 80%;
      height: 70px;
      font-size: 12px;
      font-family: Georgia, 'Times New Roman', Times, serif;
      border-radius: 10px; 
      margin-top: 25px;
      margin-bottom: 25px;
      
  }
  .login .buttons i{
      font-size: 25px;
      margin-right: 20px;
      font-weight: bolder;
  }
      .login  span{
          color: white;
    }
  
  
  .login .menu .box-2{
      background-color: transparent;
      max-width: 1140px;
      margin: auto;
      margin-top: 50px;
      width: 90%;
      height: 70px;
      align-items: center;
      margin-bottom: 10px;
      
  }
  .login footer{
      margin-top: 300px;
  }
  
  @media (min-width:361px){

   .login{
       background: #D3D3D3 ;
   }
      .login .menu{
   background-color: #D3D3D3;;
      }
      
      .login .menu .box{
          margin-top: 50px;
          
          width: 40%;
          background-color: #D3D3D3;
          padding: 25px 15px;
      
      }
      .login .menu .box h2{
          color: white;
          margin-bottom: 40px;
         
      }
      
      .login .buttons .button-facebook{
          width: 80%;
          height: 70px;
          font-size: 18px;
      }
      .login .buttons .button-google{
          width: 80%;
          height: 70px;
          font-size: 18px;
          
      }
      .login .buttons i{
          font-size: 25px;
          margin-right: 40px;
          font-weight: bolder;
      }
     
      }
      .login .menu .box-2{
          
          max-width: 1140px;
          margin: auto;
          margin-top: 50px;
          width: 40%;
          align-items: center;   
      }
  
      
                                   
      @media (min-width:769px){
      
      }