<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle De Producto</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>
<header>
    <nav class="nav">
        <ul class="navbar_responsive">
            <li><a href="/">home</a></li>
            <li><a href="">tienda</a></li>
            <li><a href="">contacto</a></li>
            <li><a href="">nosotros</a></li>
            <li><a href="">acerca de</a></li>
        </ul>
        <ul class="navbar_mobile">
            <li><a href="">tienda</a></li>
            <li><a href="">contacto</a></li>
            <li><a href="">nosotros</a></li>
            <li><a href="">acerca de</a></li>
        </ul>
        <div class="burger">
            <i class="fas fa-bars"></i>
        </div>
        <div class="logo"><a href="/"><img src="/images/logo-h.png" alt="logo" width="68px"></a></div>

        <ul class="login-bar">
            <li><a class="logoIn" href="/registro">Ingresá<i class="fas fa-sign-in-alt"></i></a></li>
            <li><a class="carrito" href="/carrito"> <i class="fas fa-shopping-cart"></i></a></li>
        </ul>

        <div class="search">
            <form action=><input type="text" placeholder="Buscar productos, marcas.."><button class="lupa"><i
                        class="fas fa-search"></i>
        </div>
    </nav>
</header>

<body class="detalleDeProducto">

    <main class="menu">
        <div class="producto">
            <img src="/images/mate.jpg" alt="">

        </div>
        <div class="descripcion-producto">
            <h2>Mate de Acero Premium</h2>
            <span>$400</span>
            <div class="container">
                <p><b> - 2 + </b> </p> 
                
            </div>
            <span><b> Cantidad </b> </span>
            
            <p>Productos artesanales con excelente diseño y confección. Gran variedad de modelos 
               y materiales. Estilo y Tradición. Excelencia y Calidad. 100% Artesanía Argentina.</p>
       
        </div>




        
        <!-- ----------------------------------------------------->
       

    </main>





    <!-- footer -->

    <!-- footer -->
</body>

</html>