<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
       <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="/css/styles.css">
    </head>

<body class="home">
    <header>
        <nav class="nav">
            <ul class="navbar_responsive">
                <li><a href="">tienda</a></li>
                <li><a href="">contacto</a></li>
                <li><a href="">nosotros</a></li>
                <li><a href="">acerca de</a></li>
            </ul>
            <div class="burger">
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                    <div class="container-fluid">
                      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                      </button>
                      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                          <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/login">login</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">registro</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">tienda</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">contacto</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">nosotros</a>
                          </li>
                        </ul>
                        
                      </div>
                    </div>
                  </nav>
            </div>
            <div class="logo"><a href="/"><img src="/images/logo-h.png" alt="logo"></a></div>
            <ul class="login-bar">
                <li><a class="logoIn" href="/login">Ingresá<i class="fas fa-sign-in-alt"></i></a></li>
                <li><a class="logoIn" href="/registro">Creá tu cuenta<i class="fas fa-user"></i></a></li>
                <li><a class="carrito" href="/carrito"> <i class="fas fa-shopping-cart"></i></a></li>
            </ul>
            <div class="search">
                <form action=><input type="text" placeholder="Buscar productos,ofertas.."><button class="lupa"><i
                            class="fas fa-search"></i>
            </div>
        </nav>
    </header>
    <main class="menu">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>

            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/images/banner22.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="images/banner4.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="images/banner5.jpg" class="d-block w-100" alt="...">
                </div>
            
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <h2> elegí, pagá y recibí tu pedido sin moverte de tu casa.</h2>


        <!--  Productos   -->

        <section class="productos">
            <article class="producto">
                <div class="imagen">
                    <a href="/detalleDeProducto"><img class="rounded-circle" src="/images/mate1.jpeg" width="200px"> </a>
                </div>
                <div class="resumen">
                    <h4 class="descripcion">mate de cuero golden</h4>
                    <p class="precio">$3900</p>
                </div>
            </article>
            <article class="producto">
                <div class="imagen">
                    <a href="/detalleDeProducto"><img class="rounded-circle" src="/images/mate2.jpeg" width="200px"> </a>
                </div>
                <div class="resumen">
                    <h4 class="descripcion">mate de cuero silver</h4>
                    <p class="precio">$2900</p>
                </div>
            </article>
            <article class="producto">
                <div class="imagen">
                    <a href="/detalleDeProducto"><img class="rounded-circle" src="/images/mate3.jpeg" width="200px"> </a>
                </div>
                <div class="resumen">
                    <h4 class="descripcion">mate style dashed</h4>
                    <p class="precio">$2500</p>
                </div>
            </article>
            <article class="producto">
                <div class="imagen">
                    <a href="/detalleDeProducto"><img class="rounded-circle" src="/images/mate4.jpeg" width="200px"> </a>
                </div>
                <div class="resumen">
                    <h4 class="descripcion">mate de acero black</h4>
                    <p class="precio">$2700</p>
                </div>
            </article> 
            <article class="producto">
                <div class="imagen">
                    <a href="/detalleDeProducto"><img class="rounded-circle" src="/images/mate-blanco.png" width="200px"> </a>
                </div>
                <div class="resumen">
                    <h4 class="descripcion">mate de acero white</h4>
                    <p class="precio">$1999</p>
                </div>
            </article>
            <article class="producto">
                <div class="imagen">
                    <a href="/detalleDeProducto"><img class="rounded-circle" src="/images/mate-negro.png" width="200px"> </a>
                </div>
                <div class="resumen">
                    <h4 class="descripcion">mate de acero black</h4>
                    <p class="precio">$1999</p>
                </div>
            </article>
            <article class="producto">
                <div class="imagen">
                    <a href="/detalleDeProducto"><img class="rounded-circle" src="/images/equipo1.jpeg" width="200px"> </a>
                </div>
                <div class="resumen">
                    <h4 class="descripcion">equipo matero green</h4>
                    <p class="precio">$5999</p>
                </div>
            </article>
            <article class="producto">
                <div class="imagen">
                    <a href="/detalleDeProducto"><img class="rounded-circle" src="/images/equipo2.jpeg" width="200px"> </a>
                </div>
                <div class="resumen">
                    <h4 class="descripcion">equipo matero blue-dark</h4>
                    <p class="precio">$5999</p>
                </div>
            </article>
            <article class="producto">
                <div class="imagen">
                    <a href="/detalleDeProducto"><img class="rounded-circle" src="/images/equipo3.jpeg" width="200px"> </a>
                </div>
                <div class="resumen">
                    <h4 class="descripcion">equipo matero full-cuero</h4>
                    <p class="precio">$5999</p>
                </div>
            </article>
        </section>
        <div class="extra-footer">
            <div class="container">
                <h3>ENTERATE DE TODO!</h3>
                <p>Dejanos tu email y te enviamos un cupón de 10%OFF para que lo uses en tu primer compra!!</p>
            </div>
            <div class="form">
                <input type="text" name="FNAME" placeholder="Nombre" required="">
                <input type="email" name="EMAIL" placeholder="Email" required="" autocomplete="off">
                <input type="submit" value="Subscribirse">
            </div>
        </div>
    </main>

    <footer>
        <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
            <div class="me-5 d-none d-lg-block">
                <span>Contactanos a traves de nuestras redes sociales: </span>
            </div>

            <div>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-google"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="https://github.com/ramsesroy/Grupo_11_horaDeMates" class="me-4 text-reset">
                    <i class="fab fa-github"></i>
                </a>
            </div>

        </section>

        <section class="">
            <div class="container text-center text-md-start mt-5">

                <div class="row mt-3">

                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

                        <h6 class="text-uppercase fw-bold mb-4">
                            <i class="fas fa-gem me-3"></i>Hora De Mates
                        </h6>
                        <p>
                            Pusimos mucha energía para que en Hora de mates puedas encontrar una fusión entre calidad,
                            productos y servicios totalmente únicos y diferentes.
                        </p>
                    </div>

                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

                        <h6 class="text-uppercase fw-bold mb-4">
                            Productos
                        </h6>
                        <p>
                            <a href="#!" class="text-reset">Mates</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Termos</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Artículos personalizados</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Otros</a>
                        </p>
                    </div>

                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

                        <h6 class="text-uppercase fw-bold mb-4">
                            Categorías
                        </h6>
                        <p>
                            <a href="#!" class="text-reset">Tienda</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Nosotros</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Acerca de</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Ayuda</a>
                        </p>
                    </div>

                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

                        <h6 class="text-uppercase fw-bold mb-4">
                            Contacto
                        </h6>
                        <p><i class="fas fa-home me-3"></i> Quilmes, BA 1712, AR</p>
                        <p>
                            <i class="fas fa-envelope me-3"></i>
                            horaDeMates@hotmail.com
                        </p>
                        <p><i class="fas fa-phone me-3"></i> + 0 11 9876 4321</p>

                    </div>
                </div>

            </div>
        </section>

        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
            © 2021 Copyright: HoraDeMates
            <a class="text-reset fw-bold" href="/">hora-de-mates.com</a>
        </div>

    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>
----------------------------------------------------------------------------
<article class="producto">
    <div class="imagen">
        <a href="/detalleDeProducto"><img class="rounded-circle" src="/images/mate2.jpeg" width="200px"> </a>
    </div>
    <div class="resumen">
        <h4 class="descripcion">mate de cuero silver</h4>
        <p class="precio">$2900</p>
    </div>
</article>
<article class="producto">
    <div class="imagen">
        <a href="/detalleDeProducto"><img class="rounded-circle" src="/images/mate3.jpeg" width="200px"> </a>
    </div>
    <div class="resumen">
        <h4 class="descripcion">mate style dashed</h4>
        <p class="precio">$2500</p>
    </div>
</article>
<article class="producto">
    <div class="imagen">
        <a href="/detalleDeProducto"><img class="rounded-circle" src="/images/mate4.jpeg" width="200px"> </a>
    </div>
    <div class="resumen">
        <h4 class="descripcion">mate de acero black</h4>
        <p class="precio">$2700</p>
    </div>
</article> 
<article class="producto">
    <div class="imagen">
        <a href="/detalleDeProducto"><img class="rounded-circle" src="/images/mate-blanco.png" width="200px"> </a>
    </div>
    <div class="resumen">
        <h4 class="descripcion">mate de acero white</h4>
        <p class="precio">$1999</p>
    </div>
</article>
<article class="producto">
    <div class="imagen">
        <a href="/detalleDeProducto"><img class="rounded-circle" src="/images/mate-negro.png" width="200px"> </a>
    </div>
    <div class="resumen">
        <h4 class="descripcion">mate de acero black</h4>
        <p class="precio">$1999</p>
    </div>
</article>
<article class="producto">
    <div class="imagen">
        <a href="/detalleDeProducto"><img class="rounded-circle" src="/images/equipo1.jpeg" width="200px"> </a>
    </div>
    <div class="resumen">
        <h4 class="descripcion">equipo matero green</h4>
        <p class="precio">$5999</p>
    </div>
</article>
<article class="producto">
    <div class="imagen">
        <a href="/detalleDeProducto"><img class="rounded-circle" src="/images/equipo2.jpeg" width="200px"> </a>
    </div>
    <div class="resumen">
        <h4 class="descripcion">equipo matero blue-dark</h4>
        <p class="precio">$5999</p>
    </div>
</article>
<article class="producto">
    <div class="imagen">
        <a href="/detalleDeProducto"><img class="rounded-circle" src="/images/equipo3.jpeg" width="200px"> </a>
    </div>
    <div class="resumen">
        <h4 class="descripcion">equipo matero full-cuero</h4>
        <p class="precio">$5999</p>
    </div>
</article>