<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <script src="https://kit.fontawesome.com/b068d6698a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="registro">
    <main>
        <div class="contenedor">
            <h2>Regístrate</h2>
            <div class="caja">
                <a href=""><p><i class="fab fa-facebook-f"></i>Regístrate con Facebook</p></a>
                
            </div>
            <div class="caja">
                <a href=""><p><i class="fab fa-google"></i>Regístrate con Google</p></a>
                
            </div>
            <div class="caja">
                <a href=""><p><i class="far fa-envelope"></i>Regístrate con Email</p></a>
                
            </div>

         </div>
    </main>
</body>
</html>