@import url('https://fonts.googleapis.com/css2?family=Jomhuria&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Pacifico&display=swap&family=Rock+Salt&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none ;
}

li{
    list-style: none;
}