header{
    background: rgb(47,47,47);
    background: radial-gradient(circle, rgba(47,47,47,1) 0%, rgba(0,0,0,1) 99%);
    display: flex;
    width: 100%;  
    flex-direction: row;
    z-index: 10;
}

header a{
    color: white;
}

header nav{
 display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

/* Header -> login bar*/

header .login-bar{
    display: flex;
    font-size: 10px;     
 
}    
header .login-bar .carrito {
    display: flex;
    list-style: none;
    padding: 10px;
    margin-top: 20px;
    font-size: 15px;
    text-decoration: none;
    list-style: none;
}
     
/* Header -> search bar (Barra de búsqueda)*/

header div.search  {
    display: none;
}
header div.search form  {
    display: none;
}


/*Header -> navbar (Barra de navegación)*/

header .navbar_responsive{
    display: none;
    font-size: 12px ;
    text-align: left;
    list-style: none;
    margin-left:0px;
    padding: 0;
}
header .navbar_mobile {
    display: none;
    width: 50%;
    font-size: 7px;
    margin-left:0px;
    list-style: none;
    padding: 4px;
    justify-content: space-between;
}

header .login-bar .logoIn{
    display: none;
}
/*Header -> burger*/
header .burger{
    display: block;
    color: white;
    border-radius: 6px;
    width: 25px;
    height: 25px;  
    padding-top: 5px;
    margin: 0px 10px;
}
#dropdownMenu2{
    background-color:rgb(47,47,47);
    background: radial-gradient(circle, rgba(47,47,47,1) 0%, rgba(0,0,0,1) 99%);
    border: none;
    border-style: none;
    outline: none;
    
}

header nav .logo img{
    width:100px ;
    margin-left: 25px;
}



@media (min-width:426px){

header .nav a:hover{
    color: gray
}
header .navbar_responsive{
    display: block;
    
}
header .login-bar .logoIn{
    display: block;
}

header .burger{
    display: none;
}
header .navbar_responsive{
    display: flex;
    width: 30%;
    order: 5;
    flex-direction: row;
    justify-content: space-between;
    font-size: 25px;
    font-weight: lighter;
    margin-top: 15px;
    font-family:'Jomhuria',cursive;
}

header .navbar_responsive a{
    text-decoration: none;
    font-size: 21px;
}
    

header .login-bar{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    order: 20;
    padding: 0px;
    margin-left: 16px;
    margin-right: 6px;
    font-family: 'Jomhuria',cursive;
   
}

header .login-bar li a{
    text-decoration: none;

}
header .login-bar .logoIn{
    font-size: 20px;
    padding-top: 24px;
    margin-left: 18px;
    margin-bottom: 10px;
}
header .login-bar .logoIn i{
    font-size: 11px;
}
header .login-bar .carrito{
    
    margin-bottom: 10px;
    
}
header nav .logo img{
    width: 84px;
    margin-top: -9px;
    margin-right: 12px;
}

header div.search  {
    display: block;
    order: 15;
    margin-top: -10px;
}

header div.search form  {
    display: block;
    margin-left: 12px;
}


header div.search input  {
    background: rgb(47,47,47);
    background: radial-gradient(circle, rgba(47,47,47,1) 0%, rgba(0,0,0,1) 99%);
    background-color: gainsboro;
    border: 5px inset gray;
    border-radius: 10px;
    width: 130px;
    font-size: 10px;
    color: ghostwhite
}

header div.search .lupa {
    background: rgb(47,47,47);
    background: radial-gradient(circle, rgba(47,47,47,1) 0%, rgba(0,0,0,1) 99%);
    font-size: 9px;
    color: gainsboro;
}
header .btn-secondary {
    color: #fff;
    background-color: transparent;
    border-color: transparent;
    font-size: 17px;

}


}

@media (min-width:769px)
{ header .navbar_responsive{
    display: flex;
    width: 30%;
    order: 5;
    flex-direction: row;
    justify-content: space-between;
    font-weight: lighter;
    margin-top: 10px;
    font-family:'Jomhuria',cursive;
}
header .navbar_responsive a{
    font-size: 33px;
}
header nav .logo img{
    width: 170px;
    margin-left: 20px;
    margin-top: -25px;
}
header div.search input  {   
    width: 250px;
    font-size: 14px;
    margin-top: 10px;
}
header div.search .lupa {
    font-size: 15px;
  
}
header div.search form {
    margin-bottom: 12px;
}

header .login-bar {
    margin-bottom: 24px;
}
header .login-bar .logoIn{
    font-size: 20px;
   
    
}

header .login-bar .carrito{
   font-size: 20px;
    
}
header .btn-secondary {
    color: #fff;
    background-color: transparent;
    border-color: transparent;
    font-size: 25px;
}

}

