body {
    background-color: whitesmoke;
}
.list .menu {
    display: block;
    margin: auto;
}

.list .menu h1{
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
}
.list .menu a{
    margin-top: 15px;
}

.list .menu ul{
    width: 60%;
    margin: auto;
    background: rgb(241,200,153);
background: linear-gradient(90deg, rgba(241,200,153,1) 6%, rgba(242,237,206,1) 65%, rgba(201,184,129,0.8547794117647058) 100%);
border-style: double;
border-color: grey;
}
.list .menu ul li{
    text-align: left;
    margin: auto;
    color: black;
    font-size: 40px;
    list-style-type: disc;
    margin-left: 20px;

   
}

.list .menu .producto{

  margin: auto;
  margin-right: 300px;
  text-align: center;
}
.list .menu .producto .imagen {
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.list .menu .producto .resumen {
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-right: 30px;
}

.list .menu .producto button {
    color: blanchedalmond ;
    height: 50px;
}
.list .menu .producto button a {
    color: blanchedalmond ;

}


.list .menu a{
    text-decoration: none;
}

.list .menu .botones{
    display: flex;
    margin-top: 70px;
}

.list .menu .precio{
    
    margin-bottom: 105px;
    font-size: 30px;
}