.profile {
    background-image: url("/images/fondo.jpeg") ;
     background-repeat: no-repeat;
    align-items: center;
    text-align: center;
    background-size: 100%;
  
    
    
}
.profile h1{

     font-size: 42px;  
      font-family:'Bebas Neue';
      margin-left: 25px;
      
}

.profile h2{
    font-family: 'Rock Salt';
    color: rgba(0, 0, 0, 0.6);
    font-size: 45px;
    font-style: italic;
    margin-left: 65px;
    text-align: center;
    margin-top: 15px ;
    margin-bottom: 10px;
    
}

.profile label{
    color: white;
    margin: auto;
}

.profile .mb-3 {
    margin-bottom: 1rem!important;
    width: 300px;
    margin-left: 40px;
}

.profile button{
    margin-left: 40px;
}

.profile form{
    display: inline-block;
   

}

.profile .button {
    color:rgb(2, 2, 2);
    background: linear-gradient( #603813 0%, #b29f94  51%, #603813  100%);
    border-color: #000000;
    width: 280px;
    height: 50px;
    margin-bottom: 100px;
    margin-top: 50px;
    font-family:'Abril Fatface';
    font-weight: 10px;
    font-size: 25px;
}
.profile .button:hover {
    box-shadow: inset 0 0 20px rgba(255, 0, 0, 0.5), 0 0 20px rgba(255, 255, 255, 0.9);
    outline-color: rgba(49, 138, 172, 0);
    outline-offset: 80px;
    text-shadow: 1px 12px 6px #fff;
 
  }
  


.profile label {
    color:rgb(2, 2, 2);
    font-family:'Bebas Neue';
}


.profile .avatar{
    margin: auto;
    width: 100px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.profile .avatar img{
    margin: auto;
    width: 100px;
}


