.registro{background: rgb(106,106,106);
    background: radial-gradient(circle, rgba(106,106,106,1) 0%, rgba(9,8,8,1) 0%, rgba(36,36,36,1) 45%, rgba(155,155,158,1) 100%, rgba(158,158,158,1) 100%, rgba(101,101,103,1) 100%);
}
.registro main h2{
    color: white;
    margin-bottom: 10px;
    padding: 20px 0 30px;
}
.registro .contenedor{
background-color: #848484;
margin-top: 20px;
padding-bottom: 70px;
text-align:center;
}
.registro .caja{
    border: white 1px solid;
background-color: white;
margin: 10px 20px;
padding: 18.2px;
border-radius: 7px;
height: 50px;
}
.registro .pformulario2 ,.pformulario{
  color: #949494;
  margin-bottom: 1px;
}

.registro main i{
    margin-right: 10px;
}

.registro main .inputs {
text-align: center;
display: flex;
justify-content: center;
flex-direction: column;
color: aliceblue;
margin: auto;
}
.registro main .formulario{
    margin: 80px 0 80px;
    text-align: center;
}
.registro .o-tambien{
    color: gray;
    margin-top: 40px;
}


.registro .espacio{
    border-bottom: solid 1px gray;
    width: 35%;
    margin: 0 20px;
}
.registro .espacio-caja{
    display: flex;
    justify-content: space-between;
    
}
.registro main .inputs{
    width: 20%;
}
.registro .registrarse {
    margin: auto;
}

/* -------------------- MOBILE ----------------------- */


    .registro {
        background: radial-gradient(circle, rgba(106,106,106,1) 0%, rgba(9,8,8,1) 0%, rgba(36,36,36,1) 45%, rgba(155,155,158,1) 100%, rgba(158,158,158,1) 100%, rgba(101,101,103,1) 100%);
    }
    
    .registro .contenedor{
margin: 10% 20% 20%;
    }


.registro main .inputs{
    width: 80%;
}


@media(min-width:361px){

    .registro main .inputs{
        width: 60%;
       
    }
}
@media (min-width:426px){
    .registro main .inputs{
        width: 30%;
       
    }

}