@import url('header.css');
@import url('footer.css');
@import url('general.css');
@import url('home.css');
@import url('carrito.css');
@import url('detalleDeProducto.css');
@import url('login.css');
@import url('registro.css');
@import url('bootstrap.css');
@import url('editProducts.css');
@import url('addProducts.css');
@import url('profile.css');
@import url('list.css');