
.editProducts .formulario{
    background: radial-gradient(circle, rgba(47,47,47,1) 0%, rgba(0,0,0,1) 99%);
    display: flex;
    flex-wrap: wrap;
}
.editProducts .boxForm{
    background: radial-gradient(circle, rgba(47,47,47,1) 0%, rgba(0,0,0,1) 99%);
    text-align: center;
    padding: 15px;
    flex-direction: column;
    justify-content: center;
    color: white;
    width: 100%;
}


.editProducts .boxForm .input-form{
    width: 200px;
  
}

.editProducts .boxForm select{
    width: 200px;
    height: 28px;
}