<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head.ejs') %>

    <body class="addProducts">
        <%- include('./partials/header.ejs') %>
    
                    <form action="/admin/addProducts" method="POST" enctype="multipart/form-data">
                        <div class="formulario">
                            <div class="boxForm">
                                <label for="titulo" class="">Título :</label>
                                <input class="input-title" type="text" name="title" id="titulo" >

                            </div>

                            <div class="boxForm">
                                <label for="descripcion" class="">Descripción:</label>
                                <input class="input-form" type="text" name="description" id="descripcion" >

                            </div>

                            <div class="boxForm">
                                <label for="category">Categorías:</label>
                                <select name="category" id="category" value="Categorias">
                                    <option value=0></option>
                                    <option value=1>Mates</option>
                                    <option value=2>Yerbas</option>
                                    <option value=3>Bolsos Materos</option>
                                    <option value=4>Bombillas</option>
                                    <option value=5>Otros</option>
                                </select>
                            </div>


                            <div class="boxForm">
                                <label for="valor" class="">Precio : </label>
                                <input class="input-price" type="text" name="price" >

                            </div>

                            <div class="boxForm">
                                <label class="">Cargar foto :</label>
                                <input class="input-form" type="file" name="image" accept="image/*">
                            </div>
                            <div class="boxForm">
                                <button type="submit" class="btn btn-dark">Guardar</button>
                            </div>
                        </div>
                    </form>
                    <%- include('./partials/footer.ejs') %>
                    <%- include('./partials/scripts.ejs') %>
    </body>


</html>