<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head.ejs') %>

    <body class="carrito">
        <%- include('./partials/header.ejs') %>

            <main>
                <section>
                    <h1>Carrito</h1>
                    <h3 class="tucarta">Tu Carta</h3>
                    <div class="menu-container">

                        <div class="Tu-Carta">
                            <p> <img class="imagen1" width="100px"
                                    src="https://http2.mlstatic.com/D_NQ_NP_717748-MLA32138763752_092019-O.webp" alt="">
                            </p>
                            <div class="pilar">
                                <p class="negrita descripcion">Set matero Hawai</p>
                                <p class="descripcion">Cantidad:1</p>
                                <p class="negrita descripcion">2,500</p>
                            </div>

                            <p class="quitar"><a href="">Quitar</a></p>
                        </div>



                        <div class="Tu-Carta">

                            <p> <img class="imagen1" width="100px"
                                    src="https://http2.mlstatic.com/D_NQ_NP_717748-MLA32138763752_092019-O.webp" alt="">
                            </p>
                            <div class="pilar">
                                <p class="negrita descripcion">Set matero Hawai</p>
                                <p class="descripcion">Cantidad:1</p>
                                <p class="negrita descripcion">2,500</p>
                            </div>
                            <p class="quitar"><a href="">Quitar</a></p>
                        </div>
                        <div class="envio-retiro">
                            <div class="caja-tablet">
                                <p class="negrita caja1"><input type="radio" name="retiroEnvio" value="Envio"> Envío a
                                    todo el país</p>
                                <p>Envío de 4 a 7 días</p>
                            </div>
                            <div class="caja-tablet">
                                <p class="negrita caja1"><input type="radio" name="retiroEnvio" value="Retiro"> Retiro
                                    en el local</p>
                                <p>Retiro por Sucursal</p>
                            </div>
                        </div>

                    </div>
                    <article>
                        <h3 class="total">Total:$5,000</h3>
                        <div class="finalizar-compra">
                            <button type="submit" class="btn btn-dark"> Finalizar compra </button>
                        </div>
                    </article>
                </section>
            </main>
            <%- include('./partials/footer.ejs') %>

                <%- include('./partials/scripts.ejs') %>
    </body>

</html>