<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head.ejs') %>

    <body class="contacto">
        <%- include('./partials/header.ejs') %>
        <form action="" class="form-contact">
            <h1>Contacta con nosotros</h1>
        <div class="mb-3">
            <label for="" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="exampleForName" placeholder="Nombre">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="email@ejemplo.com">
          </div>
          <div class="mb-3">
            <label for="" class="form-label">Telefono</label>
            <input type="text" class="form-control" id="exampleForName" placeholder="11-12122321">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Asunto </label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Mensaje </label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
          <button type="submit" class="button">ENVIAR</button>
        </form>
         
            <%- include('./partials/footer.ejs') %>
                <%- include('./partials/scripts.ejs') %>
    </body>

</html>