<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>

<body class="editProducts">
    <%- include('./partials/header.ejs') %>
    <form method="POST">
        <div class="formulario">
         <div class="boxForm">
             <label for="modelo" class="">Título :</label>
             <input
                 class="input-title"
                 type="text"
                 name="modelo"
                 placeholder="Mate de cuero , bolso matero"
                 id="modelo"
             />
         
         </div>

         <div class="boxForm">
             <label for="color" class=""></label>Descripción:</label>
             <input
                 class="input-form"
                 type="text"
                 name="color"
                 placeholder="Cuero,Sabor,etc."
                 id="color"
             />
             
         </div>

             <div class="boxForm">
                 <label for="category">Categorías:</label>
                 <select  name="" id="category" value=Categorias>
                     <option value="category"></option>
                     <option value="category">Mates</option>
                     <option value="category">Yerbas</option>
                     <option value="category">Bolsos Materos</option>
                     <option value="category">Bombillas</option>
                     <option value="category">Otros</option>
                     </select>
             </div>


             <div class="boxForm">
                 <label for="valor" class="">Precio :</label>
                 <input
                 class="input-price"
                     type="text"
                     name="valor"
                     placeholder="Ars$10,Ars$1000,etc.."
             
                 />
                
             </div>

             <div class="boxForm">
                 <label  class="">Cargar foto :</label>
                 <input
                      class="input-form"
                     type="file"
                     name="file"
                     multiple
                 />
             </div>
             <div class="boxForm">
             <button class="btn btn-dark"  type="submit">Guardar</button>
         </div>

         </div> 
 </form>
     <%- include('./partials/footer.ejs') %>
         <%- include('./partials/scripts.ejs') %>
</body>

    
</body>
</html>