<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head.ejs') %>

    <body class="nosotros">
        <%- include('./partials/header.ejs') %>
            <section class="texto">
                <h1 class="titulo">Nosotros</h1>
                <p>En nuestros inicios fuimos una empresa independiente formada hace mas de 30 años en el que solo
                    eramos unos pocos en la familia, con el tiempo esto cada vez fue creciendo más y más, sin darnos
                    cuenta cuando miramos hacia atras descubrimos todo lo que habiamos logrado. Sin olvidar que hay que
                    celebrar el amor, la pasión y el trabajo duro de esta gran familia que fue formada con el tiempo.
                </p>
                <h2></h2>
                <p>No solo tenemos productos creados originalmente por nosotros sino que poseemos variedades de
                    distribuidores alrededor de todo el país que nos brindan cantidades de materia para la venta, en la
                    que cada uno tiene su toque regional como ya saben.
                </p>
                <p>Nuestros productos se especifican en Mates, Yerbas, Bombillas, Bolsos, entre otras cosas. Tenemos
                    envíos a domicilio o tambien pueden pasar por nuestro local, de todos modos serán atendidos con total
                    cariño de nuestra parte.
                </p>
            </section>
            <%- include('./partials/footer.ejs') %>
                <%- include('./partials/scripts.ejs') %>

    </body>

</html>