<footer>
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
        <div class="me-5 d-none d-lg-block">
            <span>Contactanos a traves de nuestras redes sociales: </span>
        </div>

        <div>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-google"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="https://github.com/ramsesroy/Grupo_11_horaDeMates" class="me-4 text-reset">
                <i class="fab fa-github"></i>
            </a>
        </div>

    </section>

    <section class="">
        <div class="container text-center text-md-start mt-5">

            <div class="row mt-3">

                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

                    <h6 class="text-uppercase fw-bold mb-4">
                        <i class="fas fa-gem me-3"></i>Hora De Mates
                    </h6>
                    <p>
                        Pusimos mucha energía para que en Hora de mates puedas encontrar una fusión entre calidad,
                        productos y servicios totalmente únicos y diferentes.
                    </p>
                </div>

                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

                    <h6 class="text-uppercase fw-bold mb-4">
                        Categorías
                    </h6>
                    <p>
                        <a href="#!" class="text-reset">Mates</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Termos</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Artículos personalizados</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Otros</a>
                    </p>
                </div>

                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

                    <h6 class="text-uppercase fw-bold mb-4">
                        Información
                    </h6>
                    <p>
                        <a href="#!" class="text-reset">Tienda</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Nosotros</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Acerca de</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Ayuda</a>
                    </p>
                </div>

                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

                    <h6 class="text-uppercase fw-bold mb-4">
                        Contacto
                    </h6>
                    <p><i class="fas fa-home me-3"></i> Quilmes, BA 1712, AR</p>
                    <p>
                        <i class="fas fa-envelope me-3"></i>
                        horaDeMates@hotmail.com
                    </p>
                    <p><i class="fas fa-phone me-3"></i> + 0 11 9876 4321</p>

                </div>
            </div>

        </div>
    </section>

    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2021 Copyright: HoraDeMates
        <a class="text-reset fw-bold" href="/">hora-de-mates.com</a>
    </div>

</footer>